.bg-img {
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -99;
  background: url('../assets/bg-img.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
